
<div class="row">
    <div class="col"><canvas #canvas [width]="width" [height]="height"></canvas>
    </div>    
    <div class="col">
        <div class="row">
            <div class="col"><h3>Управление</h3></div>
        </div>
        <div class="row">
            <div class="col">
                <form onsubmit="false">
                    <div class="mb-4">
                        <label for="angle" class="form-label">Угол</label>
                        <input type="number" class="form-control" name="angle" [(ngModel)]="angle" >
                    </div>
                    <div class="mb-4">
                        <label for="legnth" class="form-label">Cила броска</label>
                        <input type="number" class="form-control" name="length" [(ngModel)]="force" >
                    </div>
                    <div class="mb-4">
                        <label for="speed" class="form-label">Шаг времени</label>
                        <input type="number" class="form-control" name="timestep" [(ngModel)]="timestep" >
                    </div>
                    <div class="mb-4">
                        <label for="speed" class="form-label">Текущее время</label>
                        <input type="number" class="form-control" name="time" [(ngModel)]="time" >
                    </div>
                    <div class="mb-4">
                        <label for="speed" class="form-label">Скорость анимации</label>
                        <input type="number" class="form-control" name="speed" [(ngModel)]="speed" >
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4"><button type="button" class="btn btn-success" (click)="drawCanvas()">Нарисовать</button></div>
                        <div class="col"><button type="button" class="btn btn-primary" (click)="startAnimation()">Запуск</button></div>
                        <div class="col"><button type="button" class="btn btn-warning" (click)="stopAnimation()">Стоп</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


