
<div class="container">
    <div class="row">
        <div class="col">
            <ul ngbNav [activeId]="route.fragment | async" class="nav-tabs">
                <li [ngbNavItem]='"gravity"'>
                  <a ngbNavLink routerLink="/gravity" fragment="gravity">Гравитация</a>
                </li>
                <li [ngbNavItem]='"force"'>
                    <a ngbNavLink routerLink="/force" fragment="force">Векторы сил</a>
                </li>
              </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

